@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* Basic style reset */
:root {
	--font-color: #fdeacf;
	--bcg-color: #001d1c;
	--font-hover: #8f9e2c;
	--warning-color: #ee1515;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: var(--bcg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
	font-size: 2rem;
	text-align: center;
	padding: 2rem 0;
	color: var(--font-color);
	text-transform: uppercase;
}
.modal-open, .fa-solid{
    display: inline-block;
    cursor: pointer;
    color: var(--font-color);
    padding: 0.8rem ;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    border-radius: 5px;
}
.modal-open:hover{
	color: var(--font-hover);
    text-decoration: underline;
}
.modal-wrapper{
	opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #001d1ca4;
	pointer-events: none;
	transition: opacity 0.4s ease-out;
}
.modal-wrapper.show{
	opacity: 1;
	pointer-events: auto;
}
.modal{
    position: relative;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	gap:0.5rem;
    background-color: #fdeacf;
    width: 700px;
    max-width: 95%;
    padding: 3rem 1rem;
	line-height: 1.4;

}
.modal ul {
	padding: 1rem;
}
.modal span{
	font-weight: 600;
}
.modal-close{
    color: #001d1c;
    position: absolute;
    top: 0;
    right: 0;
}



hr {
	margin-bottom: 1rem;
}

.wrapper {
	font-family: "Lato", sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	gap: 3rem;
	font-size: 1.3rem;
	color: var(--font-color);
	letter-spacing: 1px;
}

/* Converters Styles */
.cell {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 450px;
}

.btn {
	padding: 0.6rem 1.4rem;
	cursor: pointer;
	background: none;
	color: var(--font-color);
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 0.5rem;
	text-transform: uppercase;
	border: 1px solid var(--font-color);
	transition: 0.5s;
}
.btn:hover {
	background-color: var(--font-color);
	color: var(--font-hover);
}
.reset:hover {
	background-color: var(--warning-color);
	color: var(--font-hover);
}

.input {
	width: 60%;
	height: 2rem;
	border-radius: 0.5rem;
	text-align: center;
	font-size: 1rem;
}
.input::placeholder {
	font-size: 1.2rem;
	text-align: center;
}
.input:focus {
	outline: none;
	box-shadow: 0 0 0 0.3rem var(--font-color);
}
.cell img{
    width: 60%;
	min-height: 200px;
	max-height: 200px;
    border-radius: 0.5rem;
}
footer{
    padding: 2rem;
    color: var(--font-color);
    text-align: center;
    text-transform: uppercase;
    margin-top: auto;

}

/* Media queries */

@media (max-width: 1460px) {
	.wrapper {
		grid-template-columns: 1fr 1fr
        
	}
	.converter-speed {
        margin-right: -100%;
	}
}
@media (max-width: 970px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
	.converter-speed {
		margin-right: 0;
	}
}
@media (max-width: 560px){
    .wrapper, .cell{
        width: 100%;
    }
}
@media (max-width: 415px){
    .converter-btn{
        display: flex;
        flex-direction: column;
        row-gap: 0.3rem;
    }
}